*{
    padding: 0;
    margin: 0;
}
.hero{
    background-image: url('images/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1{
    color: #FFFFFF;
    font-size: 52px;
}