*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;

    gap:25px;

    height:400px;

    background:#f1f1f1;
}

.item{
    width:120px;
    height:120px;

    background:steelblue;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:10px;
}