h1{
    font-size: 48px;
    font-family: Arial, sans-serif;
    font-weight: 700;
}
h2{
    font-size: 32px;
    font-family:Georgia, serif;
    font-weight: 600;
}
p{
    font-size: 18px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
}
button{
    font-size: 16px;
    font-weight: 500;
}