body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2{
    font-size: 32px;
    font-style: italic;
}
p{
    font-size: 18px;
    line-height: 1.8;
}
a{
    text-decoration: none;
}